
<div id="left" class="left">
    <dl class="leftmenu">
        <dd>
            <div class="title">
                <span><img src="__ROOT__/Public/images/leftico01.png"/></span>员工信息管理
            </div>
            <ul class="menuson">
                <li> <cite></cite><a href="{:U('Staff/staffList')}" >员工列表</a><i></i></li>

            </ul>
        </dd>

        <dd>
            <div class="title">
                <span><img src="__ROOT__/Public/images/leftico02.png"/></span>考勤统计
            </div>
            <ul class="menuson">
                <li><cite></cite><a href=" {:U('Check/upload')}" >上传考勤数据</a><i></i></li>
                <li><cite></cite><a href=" {:U('Check/signList')}" >打卡数据</a><i></i></li>
                <li><cite></cite><a href=" {:U('Check/signDetailList')}" >打卡详细</a><i></i></li>
                <li><cite></cite><a href=" {:U('Check/repSignList')}" >补签数据</a><i></i></li>
                <li><cite></cite><a href=" {:U('Check/overWorkList')}" >加班数据</a><i></i></li>
                <li><cite></cite><a href=" {:U('Check/leaveList')}" >请假数据</a><i></i></li>
                <li><cite></cite><a href=" {:U('Check/checkList')}" >考勤列表</a><i></i></li>
                <li><cite></cite><a href=" {:U('Check/checkAnalyse')}" >考勤分析</a><i></i></li>
            </ul>
        </dd>
        <dd>
            <div class="title">
                <span><img src="__ROOT__/Public/images/leftico02.png"/></span>财务统计
            </div>
            <ul class="menuson">
                <li><cite></cite><a href=" {:U('Finance/upload')}" >上传财务数据</a><i></i></li>
                <li><cite></cite><a href=" {:U('Finance/expenseList')}" >报销数据</a><i></i></li>
                <li><cite></cite><a href=" {:U('Finance/advanceList')}" >预支数据</a><i></i></li>
                <li><cite></cite><a href=" {:U('Finance/fixedAssetList')}" >固定资产数据</a><i></i></li>
                <li><cite></cite><a href=" {:U('Finance/officeSupplies')}" >办公用品数据</a><i></i></li>
                <li><cite></cite><a href=" {:U('Finance/assetAcceptance')}" >资产验收数据</a><i></i></li>
            </ul>
        </dd>
        <dd>
            <div class="title"><span><img src="__ROOT__/Public/images/leftico03.png"/></span>用户管理</div>
            <ul class="menuson">
                <li><cite></cite><a href="{:U('User/userList')}">用户列表</a><i></i></li>
            </ul>
        </dd>
    </dl>
</div>

