<extend name="Public:from" />
<block name="content">
    <div class="formbody" id="addUser_div">
        <div class="formtext">Hi，<b>{$username}</b>，欢迎使用添加员工功能！</div>
        <form method="post" id="fromitem" onsubmit="ajaxSubmit('fromitem');return false;" action="{:U('Staff/doAddStaff')}">
        <ul class="forminfo">
            <li><label>姓名<b>*</b></label><input name="name" type="text" class="dfinput"/></li>
            <li><label>工号<b>*</b></label><input name="staff_id" type="text" class="dfinput"/></li>
            <li><label>性别<b>*</b></label>
                <cite>
                    <input name="gender" type="radio" value="1" checked="checked"/>男&nbsp;&nbsp;&nbsp;&nbsp;
                    <input name="gender" type="radio" value="0"/>女
                </cite>
            </li>
            <li><label>部门<b>*</b></label>
                <div class="vocation">
                    <select class="select3" name="department">
                        <option>零境</option>
                        <option>思炫</option>
                        <option>合推</option>
                        <option>灵域</option>
                    </select>
                </div>
            </li>

            <li><label>年假</label><input name="annul_holidays" type="text" class="dfinput"/></li>
            <li><label>积分</label><input name="points" type="text" class="dfinput"/></li>
            <li><label>入职日期<b>*</b></label><input name="entry_date" type="text" class="Wdate"
                                                  onFocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd'})"
                                                  style="width: 190px;height: 34px; padding-left: 10px;"/></li>
            <li><label>联系电话<b>*</b></label><input name="telephone" type="text" class="dfinput"/></li>

            <li><input id="btn_addStaff" type="submit" class="btn" value="提交"/> <label>&nbsp;</label>
                <input id="cancel_btn_addStaff" onclick="closeParent();" type="button" class="btn" value="取消"/>
            </li>
        </ul>
        </form>
    </div>
</block>